* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 16px 40px;
  background: rgb(71, 71, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: 700;
  color: white; /* Sky-600 vibe */
}

/* Nav Links */
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
  color:white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0284c7;
}

/* Cart Container */
.cart {
  position: relative;
  cursor: pointer;
}

/* Cart Icon */
.cart-icon {
  width: 28px;
  
}

/* Cart Count Badge */
.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #dc2626; /* red badge */
  color:white;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 50%;
  font-weight: bold;
}
/* Product Card Container */
.product-card {
  width: 260px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Hover effect */
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
}

/* Product Image */
.product-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

/* Product title */
.product-title {
  margin: 12px 0 6px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Rating */
.product-rating {
  color: #facc15; /* Yellow star color */
  font-size: 16px;
  margin-bottom: 8px;
}

/* Price */
.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #0284c7; /* Sky color */
  margin-bottom: 12px;
}

/* Add to Cart Button */
.add-cart-btn {
  width: 100%;
  padding: 10px 14px;
  background: #0284c7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.add-cart-btn:hover {
  background: #0369a1;
}
.remove-cart-btn{
  width: 100%;
  padding: 10px 14px;
  margin-top: 10px;
  background:rgba(255, 0, 0, 0.616);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}
.remove-cart-btn:hover{
   background: red;
}
.btn{
 width:10%;
 margin-top:10px;
 margin-bottom:10px;
}

.grid{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
 gap:20px
}
.cart-one{
background: #ffffff1f;
border-radius: 10px;
box-shadow: 0 2px 6px rgb(0,0,0,0.1);
overflow: hidden;
display: flex;
flex-direction: column;
transition: transform 0.2s ease;
}
.btn-disable{
 background:gainsboro;
 
}
.btn-disable:hover{
 background: gainsboro;
}